# Archivos muy grandes
01_Data/00_Inputs/EMPAQUETAMIENTO_FIJO_3.csv
01_Data/00_Inputs/PPED-AreaSexoEdadMun-2018-2042_VP.xlsx
01_Data/01_Derived/poblacion_total.dta
01_Data/00_Inputs/MICRODATOS ECV 2023.dta
# Archivos temporales de Excel
~$*